<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8">

         
        <link rel="stylesheet" href="/Users/njar/Documents/Hackaton/en/css/style.css">

        <!--bootstrap css-->
        <link rel="stylesheet" href="/Users/njar/Documents/Hackaton/en/lib/bootstrap-4.3.1-dist/css/bootstrap.css">
        <link rel="stylesheet" href="/Users/njar/Documents/Hackaton/en/lib/bootstrap-4.3.1-dist/css/bootstrap-reboot.css">
        <link rel="stylesheet" href="/Users/njar/Documents/Hackaton/en/lib/bootstrap-4.3.1-dist/css/bootstrap-grid.css">
        <link rel="stylesheet" href="/Users/njar/Documents/Hackaton/en/lib/bootstrap-4.3.1-dist/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="/Users/njar/Documents/Hackaton/en/lib/bootstrap-4.3.1-dist/css/bootstrap-grid..min.css">
        <link rel="stylesheet" href="/Users/njar/Documents/Hackaton/en/lib/bootstrap-4.3.1-dist/css/bootstrap.min.css">



        <link rel="shortcut icon" type="image/x-icon" href="file:///Users/njar/Documents/Hackaton/en/img/Logo HET.jpg" />
        <title>Les fonctionnalités</title>

    </head>


    <body>


 <div class=”wrapper”>
    <div class=”page-header clear-filter” style="background-image: url('file:///Users/njar/Documents/Hackaton/en/img/background.jpg');" >
        <div class=”content-center”>
 


<div class="container-fluid">

    <div class="row">

        <!-- bar navigation : accueil ; fonctionnalités ; Galerie photos ; Membres de l'équipe -->

        <div class="col-md-12">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                
                 
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="navbar-toggler-icon"></span>
                </button> <a class="navbar-brand" href="file:///Users/njar/Documents/Hackaton/en/partial/page%20accueil.html"><img style="width: 80px" src="file:///Users/njar/Documents/Hackaton/img/Logo HET.jpg" class="rounded-circle"></a>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                             <a class="nav-link" href="file:///Users/njar/Documents/Hackaton/en/partial/page%20accueil.html">Home </a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link" href="file:///Users/njar/Documents/Hackaton/en/partial/fonctionnalite%CC%81s.html">Future features </a>
                        </li>
                        <li class="nav-item active">
                              <a class="nav-link" href="file:///Users/njar/Documents/Hackaton/en/partial/page%20captures.html">Picture gallery </a>
                        </li>

                        <li class="nav-item">
                              <a class="nav-link" href="file:///Users/njar/Documents/Hackaton/en/partial/membres.html">Team members </a>
                        </li>
                    </ul>
                    
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item">
                            <a href="file:///Users/njar/Documents/Hackaton/partial/page%20accueil.html" class="nav-link">Fr</a>
                        </li>
                        <li class="nav-item">
                            <a href="file:///Users/njar/Documents/Hackaton/en/partial/page%20accueil.html" class="nav-link"> Eng</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>

                </div>
            </nav>

        </div>

        <!-- FIN bar navigation : accueil ; fonctionnalités ; Galerie photos ; Membres de l'équipe -->

    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">


    <!-- LE titre -->

            <br>

                <h1 class="text-center text-info">
                Here are our screenshoots!
                </h1> 

            <br>

            

     <!-- FIN titre -->


                <!--content-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">


            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" alt="Bootstrap Thumbnail First" src="/Users/njar/Desktop/capture 1.png" />
                        <div class="card-block">
                            <h5 class="card-title">
                                Home
                            </h5>
                    
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="/Users/njar/Desktop/capture 2.png" />
                        <div class="card-block">
                            <h5 class="card-title">
                                Blog
                            </h5>
                          
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="/Users/njar/Desktop/capture 3.png" />
                        <div class="card-block">
                            <h5 class="card-title">
                                Blog
                            </h5>
                        
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>


            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" alt="Bootstrap Thumbnail First" src="/Users/njar/Desktop/capture 4.png" />
                        <div class="card-block">
                            <h5 class="card-title">
                               Asking for request 
                            </h5>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" alt="Bootstrap Thumbnail Second" src="/Users/njar/Desktop/capture 5.png" />
                        <div class="card-block">
                            <h5 class="card-title">
                                Reply to request 
                            </h5>    
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" alt="Bootstrap Thumbnail Third" src="/Users/njar/Desktop/capture 6.png" />
                        <div class="card-block">
                            <h5 class="card-title">
                                Contact
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>

 <a href="file:///Users/njar/Documents/Hackaton/en/partial/page%20accueil.html"><h3 class="text-center text-info"> Back to Home </h3></a>


 <br><br><br><br>

                <!--FIN-->


                
            </div>



                

                </div>
            </div>
        </div>
    </div>
</div>



        </div>
    </div>
</div>


    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
                 
                    <ul class="navbar-nav ml-md-auto">
                        <li class="nav-item active">
                             © copyright 2019
                        </li>
                       
                    </ul>
            </nav>
        </div>
    </div>

    


    </body>

</html>



